/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: A"Times New Roman", Times, serif;
    line-height: 1.6;
    color: #ffffff;
    background-image:url("spqr.jpg");

header {
    background-color: #ff0000;
    padding: 20px;
    border-bottom: 1px solid #e3e3e3;
}

header h1 {
    display: inline-block;
    font-size: 24px;
    margin-right: 20px;
}

nav {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin: 0 10px;
}

nav a:hover {
    color: #ffffff;
}

main {
    width: 80%;
    margin: 40px auto;
    background-color: #dc143c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 40px;
}

article h2 {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 10px;
}

article time {
    font-size: 14px;
    color: #ffffff;
}

article p {
    margin-top: 10px;
}

article a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #dc143c;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 10px;
}

article a:hover {
    background-color: #dc143c;
}

footer {
    background-color: #dc143c;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #dc143c;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
    color: #ffffff;
}
